<div class="col-md-6">
<div class="border" style=" outline: 1px groove #010;">

	<h3><%=link_to article.title, article_path(article.id) %></h3>
<small>
			<time><%= article.created_at.to_date.strftime("%d %B, %Y") %></time>
</small>
<p><%=  article.shortbody %></p>
</div>
</div>