<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<% if current_user.nil? %>
<%= link_to user_session_path do %>

Login

<%end%>
<% else %>
<%= link_to destroy_user_session_path, method: :delete do %>
 Logout
 <% end %>
<% end %>
